/* *{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(48, 70, 78);
}

.room{
  height: 100vh;
  width: 100vw;
}

input{
  width: 20vw;
  padding: 6px 2px;
  outline: none;
  background-color: transparent;
  border: 2px solid #888;
  color: white;
}

button{
  padding: 6px 2px;
  font-weight: 600;
  background-color: blue;
  color: white;
  border: 2px solid #888;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;